@import url("https://fonts.googleapis.com/css2?family=Asul&family=Neuton&display=swap");

.App {
  text-align: center;
}

.grey {
  background-color: rgb(241, 235, 235);
}

:root {
  --asul: "Asul", sans-serif;
  --neuton: "Neuton", serif;
  --dark-blue: #4f26e7;
  --light-blue: #19eeff;
}

label {
  font-family: var(--neuton);
  font-size: 18px;
}

input {
  border-radius: 15px !important;
  border: 1px solid var(--light-blue) !important;
}

.table-scroll {
  overflow-x: auto;
}
